.carousel-container {
  max-width: 800px; /* Обмеження ширини каруселі */
  margin: 0 auto; /* Вирівнювання по центру сторінки */
  overflow: hidden; /* Приховати частини, що виходять за межі */
}

.carousel-image {
  width: 100%; /* Зображення займає всю ширину слайду */
  height: 500px; /* Зберігає пропорції зображення */
  display: block; /* Забезпечує правильне вирівнювання */
}
