.carousel-container {
  width: 90%; /* Більша ширина */
  max-width: 800px; /* Максимальна ширина */
  margin: 0 auto; /* Центрування каруселі */
  padding: 20px 0; /* Додаткові відступи зверху та знизу */
}

.carousel-image {
  width: 100%;
  height: 300px; /* Вища карусель, але все ще компактна */
  object-fit: cover; /* Адаптація зображень до контейнера */
  border-radius: 8px; /* Легке закруглення кутів */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тінь для об’ємності */
}
